{% extends 'base.html'%} {% import 'macros.html' as macro%}
<!-- Styles block -->

{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %}


<!-- Content block -->
{% block content %}

<!-- search movies -->
<div class="container">

    {% if current_user.is_authenticated%}
    <h1>Hello {{current_user.username}}</h1>
    {% else %}
    <h1>Hello stranger</h1>
    {%endif%}
    <h2>Welcome to Pitches Site</h2>
    <h3>Create a Pitch</h3>
    <button><a class="bg-success" class="nav-link" href="{{url_for('main.new_pitch')}}">Pitch</a>
    </button>
    <div class='row'>
        <div class="col-md-4" id='all'>
            {{ macro.display(pitch) }}

        </div>
        <div class="col-md-4" id='email'>
            {{ macro.display(email) }}

        </div>
        <div class="col-md-4" id='social'>
            {{ macro.display(social) }}

        </div>
        <div class="col-md-4" id='business'>
            {{ macro.display(business) }}

        </div>
    </div>

</div>

{% endblock%}