{% macro displayPitchList(pitch_list) %} {%if pitch %}{% for category in pitch_list %}
<h3>category.title</h3>
<p>category.pitch</p>
<p>Category: {{category.category}}</p>
<p>{{category.comment.count()}} Comments
</p>
<div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 movie-card">
    <li class="text-center">
        <a href="/pitch/{{pitch.id}}" class="text-primary">{{ pitch.title }}</a>
    </li>
</div>
<span class="foot"> <a href="{{url_for('main.like',id = category.id)}}"><i class="fa fa-thumbs-up" style="font-size:18px;color: green"></i></a> {{category.upvote.count()}}</span> {% endfor %}
<span class="foot"> <a href="{{url_for('main.dislike',id = category.id)}}"> <i class="fa fa-thumbs-down" style="color:red;"></i> {{category.downvote.count()}}</a></span></div>
<a href="{{url_for('main.comment',pitch_id = category.id)}}" class="btn btn-info btn-sm"> Comment</a> {% else %}
<p>This category has no posts</p>{% endif %}
<div class="card w-90 mb-3">
    <div class="card-body">

        <p class="card-title">Category Has 0 posts</p>
    </div>
</div>{% endmacro %}